
/*
** Using this to update the theme colors in bootstrap. Bootstrapping the bootstrap
*/
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/*
** You can also reference bootstrap colors here ie $gray-600 and make it a theme color
** https://getbootstrap.com/docs/4.1/getting-started/theming/
*/

$theme-colors: (
    "gold": #ffd700,
    "light-green": #deeaf410,
    "gray": $gray-200,
    "purple": $purple
);

// Define your new font family
$my-font-family: 'Raleway', sans-serif;

// Update Bootstrap's font family variable
$font-family-base: $my-font-family;

@import "bootstrap";
// End of theme color updating.

.no-overflow-field {
    text-overflow: ellipsis !important;
    white-space: nowrap;
    overflow: hidden;
}