
/*
** Using this to update the theme colors in bootstrap. Bootstrapping the bootstrap
*/
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/*
** You can also reference bootstrap colors here ie $gray-600 and make it a theme color
** https://getbootstrap.com/docs/4.1/getting-started/theming/
*/

$theme-colors: (
    "gold": #ffd700,
    "light-green": #deeaf410,
    "gray": $gray-200,
    "purple": $purple
);

@import "bootstrap";
// End of theme color updating.

.no-overflow-field {
    text-overflow: ellipsis !important;
    white-space: nowrap;
    overflow: hidden;
}